{% load static %}
{% block content %}

    <div class="modal fade" id="LoginModal" tabindex="-1" role="dialog" aria-labelledby="LoginModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="LoginModalLabel">Inloggen bij HelvoirThuis</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form class="'form-horizontal" id="LoginForm" method="POST"
                          data-validate-username-url="{% url 'validate_username' %}">
                        {% csrf_token %}
                        <div class="form-group row">
                            <label class="col-lg-4 control-label" for="user_name">Username:</label>
                            <div class="col-lg-6">
                                <input type="username" class="form-control" id="user_name" name="user_name"
                                       placeholder="Username">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-4 control-label" for="user_password">Password:</label>
                            <div class="col-lg-6">
                                <input type="password" class="form-control" id="user_password" name="user_password"
                                       placeholder="Password">
                            </div>
                        </div>
                        <div id="ajax-errors" class="alert alert-danger" role="alert" style="display: none">
                            <span><p>Ops. something went wrong!</p></span>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary" id="login-button"><span
                                    id="login-button-msg">Inloggen </span> <i id="login-button-icon"
                                                                                 class="fa fa-sign-in-alt"></i>
                            </button>

                        </div>
                    </form>


                </div>

            </div>
        </div>
    </div>


{% endblock %}

{% block javascript %}

{% endblock %}

