{% extends 'manager/modiriat.html' %}
{% load static %}
{% block adminmainpanel %}
    {% if user.is_staff %}
        <div class="container p-2">
            <form method="POST" style="font-family: Roboto" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.media }}
                <div class="form-group row">
                    <div class="col-6">
                        <label for="PostTitleInput">Title:</label>
                        {{ form.post_title }}
                    </div>
                    <div class="col-6">
                        <label for="PostAuthorInput">Post Author:</label>
                        {#                        <input type="text" class="form-control" id="PostAuthorInput" placeholder="1" readonly>#}
                        {{ form.post_author }}

                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label for="PostImageInput">Post Cover:</label>
                        {{ form.post_images }}
                        <div class="invalid-feedback" id="PostImageInput-errors">
                            Please choose a valid username.
                        </div>
                    </div>
                    <div class="col-4">
                        <label for="PostCategoryInput">Post Category:</label>
                        {{ form.post_category }}
                    </div>
                    <div class="col-4">
                        <label for="PostCategoryInput">Post Type:</label>
                        {{ form.post_type }}
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-5">
                        {{ form.post_time }}
                    </div>
                    <div class="col-5">

                    </div>
                </div>

                <div class="form-group text-center">
                    <label for="PostBodyInput">Text body:</label>
                    <br>
                    {{ form.post_body }}

                </div>

                <button type="submit" class="btn btn-primary">Submit</button>
            </form>

        </div>
    {% endif %}
{% endblock %}



