{% extends 'manager/panel.html' %}

{% load static %}


{% block adminmainpanel %}
    <div class="col-12">
        <p>
            <button type="button" class="btn btn-primary "
                    id="OpenAddIntro"
                    data-formurl="{% url 'add_intro' %}">
                <span class="glyphicon glyphicon-plus"></span>
                New book
            </button>
        </p>
        <br>
        <table class="table" id="data-table">
            <thead>
            <tr>
                <th>#</th>
                <th>Title</th>
                <th>Author</th>
                <th>Type</th>
                <th>Author</th>
                <th>Options</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% include 'manager/includes/intro_table.html' %}
            </tbody>
        </table>
        <div class="modal fade  " id="Form-Modal">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">

                </div>
        </div>
        </div>
        <br>
    </div>
{% endblock %}


{% block javascript %}

{% endblock %}
