{% extends 'manager/modiriat.html' %}
{% include "manager/includes/newpost.html" %}

{% load static %}
{% block adminmainpanel %}
    <div class="col">
        <table class="table" id="book-table">
            <thead>
            <tr>
                <th>Title</th>
                <th>Header</th>
                <th>Date</th>
                <th>Author</th>
                <th>Type</th>
                <th>Category</th>
            </tr>
            </thead>
            <tbody>
            {% include 'manager/includes/list_post.html' %}
            </tbody>
        </table>
    </div>

    <div class="modal fade" id="NewPostModal">
        <div class="modal-dialog">
            <div class="modal-content" style="width: 700px">
            </div>
        </div>
    </div>

{% endblock %}

{% block adminsidepanel %}
    <div class="col m-3">
        <p>
            <button type="button" class="btn btn-primary" id="NewPostModalCall"
                    data-url="{% url 'post_new' %}">
                <span class="glyphicon glyphicon-plus"></span>
                New Post
            </button>
        </p>
    </div>
{% endblock %}


