<div id="eventslider" class="carousel slide" data-ride="carousel"
     style="height: 30vh"
     data-plugin-options="{'mergeFit' : true}">
    <ol class="carousel-indicators" id="my-c-indicators">
        {% for objects in event_list %}
            {% if  forloop.first %}
                <li data-target="#eventslider" data-slide-to="0" class="active"></li>
            {% else %}
                <li data-target="#eventslider" data-slide-to="{{ forloop.counter0 }}"></li>
            {% endif %}
        {% endfor %}
    </ol>

    <div class="carousel-inner">

        {% for objects in event_list %}

            {% if objects.event_image %}
                {% if  forloop.first %}
                    <div class="carousel-item active mt-1">
                        <img src='{{ objects.event_image.url }}' class="d-block mt-1" style="width:100%;
                                    height:30vh;
                                    object-fit:cover;
                                    border-radius: 7px;"
                             alt="...">
                        <span class="ribbon2" style="z-index: 700; height: 150px">
                                <h1><b>{{ objects.event_def_date|date:"d" }}</b></h1>
                                <h2><b>{{ objects.event_def_date|date:"M" }}</b></h2>
                                <h4><b>{{ objects.event_def_date|date:"Y" }}</b></h4>
                            </span>

                    </div>
                {% else %}
                    <div class="carousel-item mt-1">
                        <img src='{{ objects.event_image.url }}' class="d-block mt-1" style="width:100%;
                                    height:30vh;
                                    object-fit:cover;
                                    border-radius: 7px;"
                             alt="...">
                        <span class="ribbon2" style="z-index: 700; height: 150px">
                                <h1><b>{{ objects.event_def_date|date:"d" }}</b></h1>
                                <h2><b>{{ objects.event_def_date|date:"M" }}</b></h2>
                                <h4><b>{{ objects.event_def_date|date:"Y" }}</b></h4>
                            </span></div>
                {% endif %}
            {% endif %}
        {% endfor %}
        <a class="carousel-control-prev" href="#eventslider" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" style="bottom: 1rem; position: absolute;filter: invert(100%)"
                  aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#eventslider" role="button" data-slide="next">
            <span class="carousel-control-next-icon" style="bottom: 1rem; position: absolute;filter: invert(100%)"
                  aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>

    </div>
</div>

