{% extends 'home_base.html' %}
{% block style %}
    <script>

    </script>
{% endblock %}
{% load static %}

<!-------------------- Slider ------------>

{% block slider %}
    {% include 'content/slider.html' %}
{% endblock %}
{% block events %}
    {% include 'content/events.html' with events=event_list %}
{% endblock %}
<!-------------------- Content  ----------->
{% block content %}
    {% include 'content/post-card.html' %}
{% endblock %}

{% block page_info %}
    {% include 'content/snippet/blog_post_pagination.html' with blog_posts=object_list %}
{% endblock %}

{% block friends %}

    <div class="slider" style="margin-top: 15px;">
        <div class="slide-track">

            {% for partner in partner_list %}
                {% if partner.partner_logo %}
                    <div class="slide">
                        <a href="{{ partner.partner_link }}">
                            <img src="{{ partner.partner_logo.url }}" height="100" width="250" alt=""/>
                        </a>
                    </div>

                {% endif %}
            {% endfor %}
        </div>
    </div>




{% endblock %}
{% block contact %}
    <div class="d-flex flex-row sabzi-rang" style="border-radius: 8px; margin-top: 8px;">
        <div class="social-media-links">

            <div class="social-btn">
                <a class="social-media-link social-media-link--color" href="#">
                    <i class="fab fa-facebook fa"></i></a>
            </div>

            <div class="social-btn">
                <a class="social-media-link social-media-link--color" href="#">
                    <i class="fab fa-twitter fa"></i></a>
            </div>

            <div class="social-btn">
                <a class="social-media-link social-media-link--color" href="#">
                    <i class="fab fa-instagram fa"></i></a>
            </div>

            <div class="social-btn">
                <a class="social-media-link social-media-link--color" href="#">
                    <i class="fab fa-youtube fa"></i></a>
            </div>


        </div>
        <div class="contact-wrapper">
            <i class="fa fa-map-marker" style="top: -8px;    position: relative;"></i><span>Kloosterstraat 30<br> 5268AC Helvoirt</span>

            <i class="fa fa-phone"></i><span>0685707670 </span>

            <i class="fa fa-envelope"></i><span>Helvoirthuis@helvoirthuis.nl</span>
        </div>

    </div>

{% endblock %}
<!-------------------- Adv  ----------->
{#{% block adver %}#}
{#    <div class="col-1">#}
{#        {% for object in adv %}#}
{#            <a class="float-right m-2" href="{{ object.adv_adres }}"> <img#}
{#                    class="img-thumbnail center-block"#}
{#                    src="{{ object.adv_images.url }}"#}
{#                    alt="Image"/></a>#}
{#        {% endfor %}#}
{#    </div>#}
{#{% endblock %}#}
