{% extends 'home_base.html' %}
{% block style %}
    <script>

    </script>
{% endblock %}
{% load static %}

<!-------------------- Slider ------------>

{% block slider %}
    {% include 'content/slider.html' %}
{% endblock %}
{% block events %}
    {% include 'content/events.html' with events=event_list %}
{% endblock %}
<!-------------------- Content  ----------->
{% block content %}
    {% include 'content/post-card.html' %}
{% endblock %}

{% block page_info %}
    {% include 'content/snippet/blog_post_pagination.html' with blog_posts=object_list %}
{% endblock %}

{% block friends %}
    {% for partner in partner_list %}
        <div>
            {{ partner.partner_name }}
            {{ partner.short_summery }}
            <img src="{{ partner.partner_logo.url }}" style="width:100%;height:100%;object-fit:cover">
            {{ partner.partner_logo }}
        </div>
    {% endfor %}
{% endblock %}
<!-------------------- Adv  ----------->
{#{% block adver %}#}
{#    <div class="col-1">#}
{#        {% for object in adv %}#}
{#            <a class="float-right m-2" href="{{ object.adv_adres }}"> <img#}
{#                    class="img-thumbnail center-block"#}
{#                    src="{{ object.adv_images.url }}"#}
{#                    alt="Image"/></a>#}
{#        {% endfor %}#}
{#    </div>#}
{#{% endblock %}#}
