<div class="row my-2">

    {% for object in object_list %}
        <div class="col-6 p-1">

            <div class="card text-white h-100" style="background-color: #05B183">

                <div class="card-header cardpostal-text" onclick="window.location.href = '{{ object.slug }}';"
                     style="cursor: pointer">

                    <p class="card-title h4">
                        {{ object.post_title }}
                    </p>

                </div>

                {% if object.post_images %}
                    <img class="card-img-top cardpostal  "
                         src="{{ object.post_images.url }} "
                         alt="Card image cap"
                         style="cursor: pointer; "
                         onclick="window.location.href = '{{ object.slug }}';">
                {% else %}
                    <img class="card-img-top cardpostal "
                         src="/static/post-default.jpg"
                         alt="Card image cap"
                         style="cursor: pointer"
                         onclick="window.location.href = '{{ object.slug }}';">
                {% endif %}

                <div class="card-footer  p-1  mt-auto">
                    <small>{{ object.post_time|date:"F d, Y" }}
                    </small>

                    {% if user.is_staff %}
                        <div class="dropdown float-right">
                            <button class="dropbtn"><i class="fas fa-ellipsis-h"></i></button>
                            <div class="dropdown-content">

                                <a class="px-2 text-danger " href="#"><i class="fas fa-edit"></i>
                                </a>
                                <a class="px-2 text-danger " href="{% url 'post_delete' object.id %}"><i
                                        class="fas fa-trash-alt"></i>
                                </a>

                            </div>
                        </div>
                    {% endif %}

                </div>
            </div>
        </div>

{% endfor %}
</div>
