{% extends 'section_base.html' %}
{% block style %}
    <script>

    </script>
{% endblock %}
{% load static %}

{% block intro %}
    {% for object in section_intro %}
        <div class="card w-100 cardshade" style="border-radius: 7px">
            <div class="row p-3">
                <div class="col-md-6 ">
                    <div class="card-block px-3">
                        <h4 class="card-title">{{ object.post_title | capfirst }}</h4>
                        <p class="card-text"> {{ object.post_header | capfirst }}</p>
                        <p class="card-text">{{ object.post_body | safe }}</p>
                    </div>
                </div>

                <div class="col-md-6" style="height: 100%">
                    {% if object.post_image %}
                        <img
                                src="{{ object.post_image.url }} "
                                alt="Card image cap"
                                style="
width:100%;height:100%;object-fit:cover;border-radius: 7px ">
                    {% else %}
                        <img
                                src="/static/post-default.jpg"
                                alt="Card image cap"
                                style="
width:100%;height:100%;object-fit:cover;
border-radius: 7px;
"
                        >
                    {% endif %}
                </div>

            </div>
        </div>
    {% endfor %}
{% endblock %}

{% block content %}

    <div class="d-flex flex-column" id="style-1 ">

        {% for object in section_news %}

            <div class="card mb-2 mr-1 cardshade" style="
                                 cursor: pointer;
            border-radius: 7px;"
                 onclick="window.location.href = '{% url 'post_details' slug=object.slug %}';">

                <div class="card-header"
                     onclick="window.location.href = '{% url 'post_details' slug=object.slug %}';">
                    {{ object.post_title }}
                </div>
                <div class="row p-1">
                    <div class="col-md-3 ">
                        <img {% if object.post_image %}
                            src="{{ object.post_image.url }} "
                        {% else %}
                            src="/static/post-default.jpg"
                        {% endif %}
                            alt="Card image cap"
                            style="
                        width:100%;height:100%;object-fit:cover;
                        border-radius: 7px;"
                        >

                    </div>
                    <div class="col-md-9 py-1">
                        <p class="card-text"> {{ object.post_header | capfirst }}</p>
                    </div>
                </div>


                <div class="card-footer p-0 pl-1">
                    <small>{{ object.post_available_date|date:"F d, Y" }}
                    </small>

                    {% if user.is_staff %}
                        <div class="dropdown float-right">
                            <button class="dropbtn"><i class="fas fa-ellipsis-h"></i></button>
                            <div class="dropdown-content">

                                <a class="px-2 text-danger " href="#"><i class="fas fa-edit"></i>
                                </a>
                                <a class="px-2 text-danger " href="{% url 'delete_news' object.post_id %}"><i
                                        class="fas fa-trash-alt"></i>
                                </a>

                            </div>
                        </div>
                    {% endif %}

                </div>
            </div>

        {% endfor %}
    </div>

{% endblock %}