{% for object in posts %}
    <tr>
        <td>{{ object.post_title }}</td>
        <td>{{ object.post_header }}</td>
        <td>{{ object.post_time }}</td>
        <td>{{ object.post_author }}</td>
        <td>{{ object.post_type }}</td>
        <td>{{ object.post_category }}</td>
        <td>
            <button type="button"
                    class="btn btn-warning btn-sm js-update-book"
                    data-url="{% url 'post_update' object.id %}">
                <span class="glyphicon glyphicon-pencil"></span> Edit
            </button>
            <button type="button"
                    class="btn btn-danger btn-sm js-delete-book"
                    data-url="{% url 'post_delete' object.id %}">
                <span class="glyphicon glyphicon-trash"></span> Delete
            </button>
        </td>
    </tr>
{% empty %}
    <tr>
        <td colspan="7" class="text-center bg-warning">No book</td>
    </tr>
{% endfor %}