<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    {% load mathfilters %}
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/master.css' %}?version=60" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Roboto|Anton|Bitter|Modak|Zhi+Mang+Xing&display=swap" rel="stylesheet">
    <title>Helvoirthuis</title>
</head>
<body class="bg-info"
      style="background-image: url('{% static 'sky-02.png' %}'); font-family: Roboto; background-size: cover; background-position: center center;">


<div class="container position-fixed" style="z-index: 2">
    <div id="mySidenav" class="mySidenav">
        {% for object in menu_list %}
            <a href="http://127.0.0.1:8000/admin/" class="sidnavItems" style="top: {{ forloop.counter|mul:70 }}px">{{ object.menu_title }}</a>
            <a href="http://127.0.0.1:8000/panel/dashboard/" class="sidnavItems" style="top: {{ forloop.counter|mul:170 }}px">{{ object.menu_title }}</a>
        {% endfor %}

    </div>
</div>

<div class="container-fluid">

    <!-----------------TopBar--------------------->
    <div class="row sticky-top sabzi-rang">
        <div class="container">
            <div class="row align-items-center ">
                <div class="col-3 sabzi-rang ">
                    <a href="/"><img src="{% static 'LOGO.png' %}"
                                     class="border-danger d-inline-block align-top img-fluid"
                                     alt=""></a>
                </div>
                <div class="col">
                    <ul class="nav justify-content-end m-2" >
                    <li class="nav-item" >
                      {% if user.is_authenticated %}
                            <div class="btn-group ">
                                <button id="btnGroupDrop1" type="button" class="btn btn-outline-light dropdown-toggle"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-user"></i>
                                    {{ user.username }}
                                </button>
                                <div class="dropdown-menu " aria-labelledby="btnGroupDrop1">
                                     {% if user.is_staff %}
                                        <a class="dropdown-item" href="#">Articles</a>
                                    {% endif%}
                                    <a class="dropdown-item" href="#">Edit profile</a>
                                    <a class="dropdown-item" href="{% url 'logout' %}">
                                        <i class="fas fa-sign-out-alt"></i>
                                        Logout</a>

                                </div>

                            </div>
                        {% else %}
                            <div class="btn-group">
                                <button class="btn btn-outline-light ">
                                    <a href="{% url 'signupuser' %} " data-toggle="modal"
                                       data-target="#SignUpModal">
                                <span style="color: white;">
                             <i class="fas fa-user-plus"></i>
                                SignUp
                             </span></a></button>
                                <button class="btn btn-outline-light">
                                    <a href="{% url 'login' %} " data-toggle="modal"
                                       data-target="#LoginModal">
                                <span style="color: white;">
                             <i class="fas fa-sign-in-alt"></i>
                                Login
                             </span></a></button>
                            </div>

                        {% endif %}
                    </li>


                        <li class="nav-item">
                            <div class="input-group mx-2 ">
                                <input type="text" class="form-control" placeholder="Search"
                                       aria-label="Searcg" aria-describedby="basic-addon2">
                                <div class="input-group-append">
                                    <button class="input-group-text" id="basic-addon2"><span
                                            class="fas fa-search"></span>
                                    </button>
                                </div>
                            </div>
                        </li>
                    </ul>


                </div>

            </div>
        </div>
    </div>

    <!-------------------------- SideBar + Page ---------------------------------------------->

    {% block slider %}
    {% endblock %}

    <div class="row">
        <div class="container">
            <div class="row">
                <div class="col-2">
                    <!----------------- Menu--------------------->
                    <div class="text-white ">
                        <ul class="nav flex-column text-center nav-tabs " id="nav-Tab" role="tablist">
                            {% for object in menu_list %}
                                {% if object.menu_title == menuactive %}

                                    <a class="nav-link active rounded  font-weight-bold"
                                       id="{{ object.menu_title }} tab"
                                       href="/{{ object.menu_address }}" role="tab"
                                       aria-controls="nav-{{ object.menu_title }}"
                                       aria-selected="false">{{ object.menu_title }}</a>

                                {% else %}
                                    <a class="nav-link rounded font-weight-bold text-white"
                                       id="{{ object.menu_title }} tab"
                                       href="/{{ object.menu_address }}"
                                       role="tab" aria-controls="nav-{{ object.menu_title }}"
                                       aria-selected="false">{{ object.menu_title }}</a>
                                {% endif %}
                            {% endfor %}
                        </ul>
                        {% block login %}
                        {% endblock %}
                    </div>
                    <!----------------side bot pannel--------------------->
                    hi {{ user.username }}
                    <div class=" text-white bg-dark">
                        {% for image in images %}
                            {{ image }}
                        {% endfor %}

                        {% block UserPanel %}
                        {% endblock %}

                    </div>
                </div>
                <!-------Page---------->
                <div class="col-lg-10 col-xl-10 col-md-10 col-sm-10">

                    <!-----------------content--------------------->
                    {% block main %}
                        {% block content %}
                        {% endblock %}

                        {% block adver %}
                        {% endblock %}
                    {% endblock %}
                </div>

            </div>
        </div>

    </div>


    <!-----------------Footer content--------------------->
    <div class="row">
        <div class="container mt-3">
            <div class="d-flex flex-row ">
                <img class="align-middle img-fluid" src="{% static 'huis-02.png' %}" alt="">

            </div>
        </div>
    </div>

</div>
{% include "registration/login.html" %}
{% include "registration/register.html" %}
</body>


<script src="{% static 'css/ckeditor/ckeditor.js' %}" type="text/javascript"></script>
<script src="https://kit.fontawesome.com/2e5b1f81d5.js" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

<script src="{% static 'js/register.js' %}?version=60" type="text/javascript"></script>
<script src="{% static 'js/login.js' %}?version=60" type="text/javascript"></script>
{% block javascript %}
{% endblock %}

</html>