<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    {% load mathfilters %}
    <meta charset="UTF-8">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

    <!-- khodnevis css -->
    <link rel="stylesheet" href="{% static 'css/master.css' %}?version=68" type="text/css">
    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto|Anton|Bitter|Modak|Zhi+Mang+Xing&display=swap"
          rel="stylesheet">
    <!-- table -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">

    <script type="text/javascript" charset="utf8"
            src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>
    <style>
        @media (max-width: 992px) {
            .container {
                max-width: 100%;
            }
        }

    </style>
    {% block style %}
    {% endblock %}
    <title>Helvoirthuis</title>
</head>
<body
        style="font-family: Roboto; background-color:#273f4e; background-position: center center;">

{% if user.is_staff %}
<div class="container position-fixed" style="z-index: 2">
    <div id="mySidenav" class="mySidenav">
            <a href="/panel/dashboard/" class="sidnavItems"
            ><i class="fas fa-users-cog" style="font-size: 60px"></i></a>

    </div>
</div>
{% endif %}
<div class="container-fluid">

    <!-----------------TopBar--------------------->
    <div class="row sticky-top sabzi-rang">
        <div class="container">
            <div class="row align-items-center ">
                <div class="col-3 sabzi-rang ">
                    <a href="/"><img src="{% static 'LOGO.png' %}"
                                     class="border-danger d-inline-block align-top img-fluid"
                                     alt=""></a>
                </div>
                <div class="col">
                    <ul class="nav justify-content-end m-2">
                        <li class="nav-item">
                            {% if user.is_authenticated %}
                                <div class="btn-group ">
                                    <button id="btnGroupDrop1" type="button"
                                            class="btn btn-outline-light dropdown-toggle"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fas fa-user"></i>
                                        {{ user.username }}
                                    </button>
                                    <div class="dropdown-menu " aria-labelledby="btnGroupDrop1">
                                        {% if user.is_staff %}
                                            <a class="dropdown-item" href="{% url 'dashboard' %}">Admin Panel</a>
                                        {% endif %}
                                        <a class="dropdown-item" href="#">Edit profile</a>
                                        <a class="dropdown-item" href="{% url 'logout' %}">
                                            <i class="fas fa-sign-out-alt"></i>
                                            Logout</a>

                                    </div>

                                </div>
                            {% else %}
                                <div class="btn-group">
                                    <button class="btn btn-outline-light ">
                                        <a href="{% url 'signupuser' %} " data-toggle="modal"
                                           data-target="#SignUpModal">
                                <span style="color: white;">
                             <i class="fas fa-user-plus"></i>
                                SignUp
                             </span></a></button>
                                    <button class="btn btn-outline-light">
                                        <a href="{% url 'login' %} " data-toggle="modal"
                                           data-target="#LoginModal">
                                <span style="color: white;">
                             <i class="fas fa-sign-in-alt"></i>
                                Login
                             </span></a></button>
                                </div>

                            {% endif %}
                        </li>


                        <li class="nav-item">
                            <div class="input-group mx-2 ">
                                <input type="text" class="form-control" placeholder="Search"
                                       aria-label="Searcg" aria-describedby="basic-addon2">
                                <div class="input-group-append">
                                    <button class="input-group-text" id="basic-addon2"><span
                                            class="fas fa-search"></span>
                                    </button>
                                </div>
                            </div>
                        </li>
                    </ul>


                </div>

            </div>
        </div>
    </div>

    <!-------------------------- SideBar + Page ---------------------------------------------->


    <div class="container">
        <div class="row">
            <div class="col-lg-12 d-none d-lg-block">
                {% block slider %}
                {% endblock %}
            </div>

        </div>
        <div class="row">
            <div class="col-lg-9 col-md-12 p-0">
                    {% block content %}
                    {% endblock %}
            </div>
            <div class="col-lg-3 col-md-12">
                {% block events %}
                {% endblock %}
            </div>
        </div>


    </div>


    <!-----------------Footer content--------------------->
    <div class="row">

        {% block footer %}
            {% include 'content/footer.html' %}
        {% endblock %}

    </div>

</div>
{% include "registration/login.html" %}
{% include "registration/register.html" %}
</body>

<!-- icon -->
<script src="https://kit.fontawesome.com/2e5b1f81d5.js" crossorigin="anonymous"></script>

<!-- Js haye khod nevis -->
<script src="{% static 'css/ckeditor/ckeditor.js' %}" type="text/javascript"></script>
<script src="{% static 'js/register.js' %}?version=70" type="text/javascript"></script>
<script src="{% static 'js/login.js' %}?version=70" type="text/javascript"></script>

{% block javascript %}
{% endblock %}

</html>